# Properties involving SAML NameIdentifier/NameID generation/consumption

# For the most part these settings only deal with "transient" and "persistent"
# identifiers. See saml-nameid.xml and c14n/subject-c14n.xml for advanced
# settings

# Default NameID Formats to use when nothing else is called for.
# Don't change these just to change the Format used for a single SP!
idp.nameid.saml2.default = urn:oasis:names:tc:SAML:2.0:nameid-format:transient

# Persistent IDs will be computed on the fly with a hash

# For computed IDs, set a source attribute, and a secret salt in secrets.properties
idp.persistentId.sourceAttribute = {{ idp_persistentId_sourceAttribute }}
#idp.persistentId.useUnfilteredAttributes = true
#idp.persistentId.algorithm = SHA
idp.persistentId.encodedSalt = {{ idp_persistentId_salt | b64encode }}
idp.persistentId.encoding = BASE32
idp.persistentId.generator = shibboleth.ComputedPersistentIdGenerator

# Set to an empty property to skip hash-based generation of first stored ID
idp.persistentId.computed = shibboleth.ComputedPersistentIdGenerator
