# This is a reserved spot for most properties containing passwords or other secrets.

# Access to internal AES encryption key
idp.sealer.storePassword = {{ idp_config['sealer_pw'] }}
idp.sealer.keyPassword = {{ idp_config['sealer_pw'] }}

# Default access to LDAP authn and attribute stores. 
idp.authn.LDAP.bindDNCredential              = {{ idp_config['ldap']['bindDNCredential'] | default('IDP_LDAP_BINDCREDENTIAL_MISSING') }}
idp.attribute.resolver.LDAP.bindDNCredential = %{idp.authn.LDAP.bindDNCredential:undefined}

# Salt used to generate persistent/pairwise IDs, must be kept secret
{% if idp_persistentId_salt_encoded is defined and idp_persistentId_salt_encoded in ['Yes','yes','True','true'] %}
idp.persistentId.encodedSalt = {{ idp_config['idp_persistentId_salt'] | b64encode }}
{% else %}
idp.persistentId.salt = {{ idp_config['idp_persistentId_salt'] }}
{% endif %}
