---
# handlers file for common

- name: "Restart Systemd Timesyncd"
  ansible.builtin.systemd_service:
    name: systemd-timesyncd
    daemon_reload: true
    state: restarted
    enabled: true

- name: "Restart SSH"
  ansible.builtin.systemd_service:
    name: ssh
    daemon-reload: true
    state: restarted

- name: "Restart Fail2Ban"
  ansible.builtin.systemd_service:
    name: fail2ban
    daemon-reload: true
    state: restarted

- name: "Update Timezone"
  ansible.builtin.shell: dpkg-reconfigure --frontend noninteractive tzdata
