---
# default vars for idp role

idp_version: "5.1.6"

idp_sync: "no"

idp_entityID: "https://idp.example.org/idp/shibboleth"
idp_scope: "example.org"
idp_displayname: "Example IdP"
idp_org_url: "https://org.example.org/en"
idp_technical_contact: "root@localhost"
idp_sealer_pw: "sealer-password"
idp_keystore_pw: "keystore-password"
idp_persistentId_sourceAttribute: "uid"
idp_persistentId_salt: "a_random_16_chars_string"
idp_persistentId_salt_encoded: "true"
idp_fticks_enabled: "false"
idp_fticks_federation: "MyFederation"
idp_fticks_condition: "MyFTICKSCondition"
idp_fticks_algorithm: "SHA-256"
idp_fticks_salt: "somethingsecret"
idp_fticks_loghost: "localhost"
idp_fticks_logport: "514"

# OpenLDAP + StartTLS with Traditional CA
idp_authn_LDAP_ldapURL: "ldap://ldap.example.org"
idp_authn_LDAP_baseDN: "ou=people,dc=ldap,dc=example,dc=org"
idp_authn_LDAP_bindDN: "cn=idm-user,ou=system,dc=ldap,dc=example,dc=org"
idp_authn_LDAP_bindDNCredential: "ldap_user_pw"
idp_authn_LDAP_useStartTLS: "no"
idp_authn_LDAP_trustCertificates: "no"
idp_authn_LDAP_subtreeSearch: "false"
idp_authn_LDAP_userFilter: "uid={user}"
idp_authn_LDAP_usePasswordPolicy: "false"
idp_authn_LDAP_usePasswordExpiration: "false"
idp_attribute_resolver_LDAP_searchFilter: "(uid=$resolutionContext.principal)"

### Shibboleth IdP Metadata Providers
# Obtain a public key from a certificate using a command such as:
# openssl x509 -pubkey -in cert.pem -noout
idp_metadata_providers:
  - id: "MetadataProviderID_1"
    file: "federation-metadata.xml"
    url: "https://my-federation.example.org/metadata.xml"
    maxValidInterval: "P10D"
    disregardTLSCertificate: "false"
    pubKey: |
      MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA32nIKnrjRK7Ib+bpKKft
      iUw7/wte3bVAoYfEg6767QnnZrF4yT0VPygAHCRdM0No2zvXtOpH8oKpJgwSdpes
      C2F6EK7MiplSD2Y2LrKhJOeFUvYgKjOb2vsiGRmv5IxHPrrkJOW61pma9t8CobBv
      i2LC3SZRWTA4Vgazp8GJDk+y2MPJRIOF7EOVeB35czY8aTHVeh195UReNf4cuUKk
      kJMcJXqQPl00PT8eFiC3R/VJOtgqSuhEPBI00VvOSC7mgRuuzLIrZVPe41vtTHj3
      +z+7DRgOu/3dFB65WS8v/EKWlwWm3vYBim9BdNMOZuKSQB/xN53OHNP2ZKcV1M+a
      gu0yULbPRQxURmoDKhE+Tp0WTv9Hy18xzmFBoaq5Rt+30cPgn3SPbNekguE5K3Am
      7GX9rw0Q+Wkyks1QRQvpdl7NhEJRInvZe2Xl0LR1Bl6bBmPVx2Qbcu5ZuDGYYq3s
      dhP/0UGOwHUWnIllq7lx5+FdVH6DVdLeFVJh5LCbNO+rAgMBBAE=
  - id: "MetadataProviderID_2"
    connectionRequestTimeout: "PT2S"
    connectionTimeout: "PT2S"
    socketTimeout: "PT4S"
    refreshDelayFactor: "0.025"
    maxCacheDuration: "PT48H"
    mdQueryProtocol: "https://mdq.example.org/global/"
    pubKey: "{{ lookup('ansible.builtin.file', 'roles/idp/files/metadata/example.pubkey', lstrip=true) }}"
